services:
  mariadb:
    image: mariadb:11
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: abarnes
      MARIADB_USER: abarnes
      MARIADB_PASSWORD: abarnes
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
